# Compiled python files
*.pyc

# VIM swap files
*.swp

;; gitignore for Django using pyCharm
;;

;;files to ignore
settings.py

;;extensions to ignore
*.log
*.pot
*.pyc

;;directories to ignore
.idea/