#wrapper {
    height: 95%;
    width: 95%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 500px;
    margin: auto;
}

#map {
    height: 90%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    /*border: 1px solid black;*/
}

#time-slider {
    height: 10%; /* together with height of #map should be 100% */
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    /*border: 1px solid black;*/
}

#time-slider .content {
    position: relative;
    top: 50%;
}