<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Gent stats</title>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <style type="text/css">
        ${demo.css}
    </style>
    <script type="text/javascript">
$(function () {

    $.getJSON('../static/map/statsec_new.json', function (geojson) {

        // Initiate the chart
        $('#map').highcharts('Map', {

            title : {
                text : 'Gent stats'
            },

            mapNavigation: {
                enabled: true,
            },

            legend: {
                enabled: true
            },

            series : [{

                mapData: geojson,
                data: [],
                name: 'Random data',
                animation: {
                    duration: 1000
                },
                dataLabels: {
                    enabled: true,
                    format: '{point.properties.Description}'
                },


            }]
        });
    });
});

    </script>
</head>
<body>
<script src="../static/js/highchart/highmaps.js"></script>
<script src="../static/js/highchart/modules/data.js"></script>
<script src="http://code.highcharts.com/mapdata/custom/world.js"></script>

<div id="wrapper" style="height: 100vh;">
    <div id="map" style="height: 90vh;">

    </div>
    <div id="time-slider"  style="height: 10vh;">
        <div class="content">time slider area</div>
    </div>
</div>


</body>
</html>
