<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>Ghent Library</title>

    <!-- css files -->
    <link rel="stylesheet" href="{% static "css/ol.css" %}"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{% static "css/leaflet.css" %}"/>
    <link rel="stylesheet" href="{% static "css/map.css" %}"/>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>


    <!-- javascript files -->
    <script src="http://openlayers.org/en/v3.4.0/build/ol.js" type="text/javascript"></script>
    <script src="{% static "js/statsec.js" %}"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.js'></script>

    <script src="{% static 'js/map_ui.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/map_styles.js' %}" type="text/javascript"></script>


    <script type="text/javascript">
        $(function () {
            var mapUI = new MapUI();
            mapUI.registerMapUIEventHandlers();
        });


    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            var sectionsLayer = new ol.layer.Vector({
                source: new ol.source.GeoJSON({
                    projection: 'EPSG:3857',
                    url: '{% static "map/wijkenGent.geojson" %}'
                }),
                projection: 'EPSG:4326',
                style: MapStyle.normalStyle
            });

            //the layer that is used to show the different wijknr's in color
            var wijkLayer = new ol.layer.Vector({
                source: new ol.source.GeoJSON({
                    projection: 'EPSG:3857',
                    url: '{% static "map/wijkenGent.geojson" %}'
                }),
                projection: 'EPSG:4326',
                style: MapStyle.styleFunctionWijk
            });

            //the layer that is used to show the different wijknr's in color
            var lenersLayer = new ol.layer.Vector({
                source: new ol.source.GeoJSON({
                    projection: 'EPSG:3857',
                    url: '{% static "map/wijkenGent.geojson" %}'
                }),
                projection: 'EPSG:4326',
                style: MapStyle.styleFunctionLeners
            });

            //This is the layer beneath, which shows you a version of the map
            var comicLayer = new ol.layer.Tile({
                source: new ol.source.XYZ({
                    url: 'http://api.tiles.mapbox.com/v4/mapbox.comic/{z}/{x}/{y}.png?access_token=sk.eyJ1IjoiamVyb2VuYXJlbnMiLCJhIjoiSU9zb1BIYyJ9.L1o6zaWk3EDaCi9bJf8Nug'
                })
            });

            //Other option for layer beneath from another source (open street maps)
            var layerOSM = new ol.layer.Tile({
                source: new ol.source.OSM()
            });

            //Other option for layer beneath from another source (MapQuest)
            var layerMQ = new ol.layer.Tile({
                source: new ol.source.MapQuest({
                    layer: 'osm'
                })
            });

            //Used to project the center of the map on the center of Ghent
            var center = ol.proj.transform([3.716667, 51.055], 'EPSG:4326', 'EPSG:3857');

            //Here, the center is used to set up the view of the map, together with a zoom variable which is arbitrarily chosen
            var view = new ol.View({
                center: center,
                zoom: 13
            });
            //Now, the map is initialized. The target points to a div with id "map" in the html body.
            //The layers of the different statistical sectors are added
            var map = new ol.Map({
                target: "map",
                layers: [comicLayer, sectionsLayer],
                view: view
            });

            //Now the overlayfeature that is defined (will be used when a mouse moves over a statistical sector
            var featureOverlay = new ol.FeatureOverlay({
                map: map,
                style: MapStyle.styleFunction
            });

            var featureOverlayWijk = new ol.FeatureOverlay({
                map: map,
                style: MapStyle.styleFunctionWijk
            })

            //Here follows the interactive part, so a movement of the mouse over a statistical sector will be noticed
            map.on('pointermove', function (browserEvent) {
                featureOverlay.getFeatures().clear();
                var coordinate = browserEvent.coordinate;
                var pixel = browserEvent.pixel;


                map.forEachFeatureAtPixel(pixel, function (feature, layer) {
                    if (!layer) {
                        return;
                    }
                    var geometry = feature.getGeometry();
                    var point;
                    switch (geometry.getType()) {
                        case 'MultiPolygon':
                            var poly = geometry.getPolygons().reduce(function (left, right) {
                                return left.getArea() > right.getArea() ? left : right;
                            });
                            point = poly.getInteriorPoint().getCoordinates();
                            break;
                        case 'Polygon':
                            point = geometry.getInteriorPoint().getCoordinates();
                            break;
                        default :
                            point = geometry.getClosestPoint(coordinate);
                    }
                    textFeature = new ol.Feature({
                        geometry: new ol.geom.Point(point),
                        // the styling function the the overlay feature, will use the name 'text' now for the text instead of 'Description'
                        text: feature.get('name')
                    });
                    featureOverlay.addFeature(textFeature);
                    featureOverlay.addFeature(feature);

                });

            });

            //functionality to let a click cursor appear when hovering over the sectionslayer
            map.on('pointermove', function (evt) {
                if (evt.dragging) {
                    return;
                }
                var pixelOriginal = map.getEventPixel(evt.originalEvent);
                var hit = map.forEachLayerAtPixel(pixelOriginal, function (layer) {
                    if (layer == sectionsLayer) {
                        return true;
                    }
                });
                map.getTargetElement().style.cursor = hit ? 'pointer' : '';
            })

            //functionality when a statistical sector is clicked upon
            map.on('singleclick', function (clickevent) {
                var coordinate = clickevent.coordinate;
                var pixel = clickevent.pixel;

                //Get the needed info and display it on the text boxes
                map.forEachFeatureAtPixel(pixel, function (feature, layer) {
                    if (!layer) {
                        return;
                    }
                    $('#title').html(feature.get('name'));
                    $('#contentgeojson').html('<p>' + "wijk nummer: " + feature.get('wijknr') + '</p>' + '<p>' + "Aantal leners: " + feature.get('borrowers') + '</p>');
                });


            });


            $.get('http://localhost:8000/api/v1/libraries', function (data) {
                var highlightStyle2 = new ol.style.Style({
                    fill: new ol.style.Fill({
                        color: [255, 0, 0, 1]
                    }),
                    zIndex: 50
                });

                function styleFunctionlibs(feature, resolution) {
                    var style;
                    var geom = feature.getGeometry();
                    style = highlightStyle2;
                    return [style];
                }

                // Fetch the libraries
                var libraries = data.results;

                // Gather the lat,long points from the library
                // TODO: I turned the lat and long around on the server
                var library_coordinates = libraries.map(function (library) {
                    return [
                        parseFloat(library.longitude),
                        parseFloat(library.latitude)
                    ];
                });

                // Turn coordinates into a list of features
                var features = library_coordinates.map(function (coord) {
                    var trans_coord = ol.proj.transform(coord, 'EPSG:4326', 'EPSG:3857');
                    var point = new ol.geom.Point(trans_coord);
                    var feature = new ol.Feature(point)
                    return feature;
                });

                console.log(features[0].getStyle())
                // Draw them on the map
                var vectorSource = new ol.source.Vector({
                    features: features
                });

                var vectorLayer = new ol.layer.Vector({
                    source: vectorSource
                });
                console.log(vectorLayer.getStyle())
                map.addLayer(vectorLayer);

                //functionality to change between layer
                $('#OSM').on('click', function () {
                    map.removeLayer(sectionsLayer);
                    map.removeLayer(wijkLayer);
                    map.removeLayer(lenersLayer);
                    map.removeLayer(vectorLayer);
                    map.addLayer(wijkLayer);
                    map.addLayer(sectionsLayer);
                    map.addLayer(vectorLayer);

                });
                $('#OpenStreet').on('click', function () {
                    map.removeLayer(sectionsLayer);
                    map.removeLayer(wijkLayer);
                    map.removeLayer(lenersLayer);
                    map.removeLayer(vectorLayer);
                    map.addLayer(lenersLayer);
                    map.addLayer(sectionsLayer);
                    map.addLayer(vectorLayer);
                });
                $('#MapQuest').on('click', function () {
                    map.removeLayer(sectionsLayer);
                    map.removeLayer(wijkLayer);
                    map.removeLayer(lenersLayer);
                    map.removeLayer(vectorLayer);
                    map.addLayer(wijkLayer);
                    map.addLayer(sectionsLayer);
                    map.addLayer(vectorLayer);
                });
            });


        });
    </script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="{% static "img/gent.png" %}" height="50" width="130" alt="">
                </a>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>
</nav>
<div class="navbar-offset"></div>
<div id="map">
</div>
<div class="row main-row">
    <div class="col-sm-4 col-md-3 sidebar sidebar-left pull-left">
        <div class="panel-group sidebar-body" id="accordion-left">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#layers">
                            <i class="fa fa-list-alt"></i>
                            Map visualisations
                        </a>
                  <span class="pull-right slide-submenu">
                    <i class="fa fa-chevron-left"></i>
                  </span>
                    </h4>
                </div>
                <div id="layers" class="panel-collapse collapse in">
                    <div class="panel-body list-group">
                        <a href="#" class="list-group-item" id="OpenStreet">
                            <i class="fa fa-globe"></i> Leners
                        </a>
                        <a href="#" class="list-group-item" id="MapQuest">
                            <i class="fa fa-globe"></i> Wijken
                        </a>
                        <a href="#" class="list-group-item" id="OSM">
                            <i class="fa fa-globe"></i> Wijken
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-6 mid"></div>
    <div class="col-sm-4 col-md-3 sidebar sidebar-right pull-right">
        <div class="panel-group sidebar-body" id="accordion-right">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a id="sector" data-toggle="collapse" href="#taskpane">
                            <i class="fa fa-tasks"></i>

                            <div id="title" style="text-align: center; font-weight: bold; display: inline">Info</div>
                        </a>
                        <span class="pull-right slide-submenu">
                            <i class="fa fa-chevron-right"></i>
                        </span>
                    </h4>
                </div>
                <div id="taskpane" class="panel-collapse collapse in">
                    <div id="contentgeojson" class="panel-body">
                        <p>Welcome to the Ghent Library visualisation. On this page you can look up a variety of
                            information like the amount of borrowers per sector, the amount of books that are lent per
                            sector,...</p>

                        <p>You can also click on the layers to get more specific info in this panel</p>

                        <p>Enjoy your stay!</p>

                        <p>Library of Ghent</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mini-submenu mini-submenu-left pull-left">
    <i class="fa fa-list-alt"></i>
</div>
<div class="mini-submenu mini-submenu-right pull-right">
    <i class="fa fa-tasks"></i>
</div>
</div>
</body>
</html>