<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static "img/favicon.png" %}">

    <title>Books4Summer</title>

    <!--jquery -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-theme.css" %}" rel="stylesheet">

    <!-- siimple style -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <script>
        $(document).ready(function () {
            $.makeTable = function (mydata) {
                var table = $('<table border=1>');
                var tblHeader = "<tr>";
                for (var k in mydata[0]) tblHeader += "<th>" + k + "</th>";
                tblHeader += "</tr>";
                $(tblHeader).appendTo(table);
                $.each(mydata, function (index, value) {
                    var TableRow = "<tr>";
                    $.each(value, function (key, val) {
                        TableRow += "<td>" + val + "</td>";
                    });
                    TableRow += "</tr>";
                    $(table).append(TableRow);
                });
                return ($(table));
            };
            var mydata = [
                {
                    "author": "Ballinger W.A.",
                    "title": "Gods dwazen"
                },
                {
                    "author": "Händel Georg Friedrich",
                    "title": "Handel"
                },
                {
                    "author": " ",
                    "title": "Het meesterstuk"
                },
                {
                    "author": "Bergonzi Jerry",
                    "title": "Saxology"
                },
                {
                    "author": "Mulisch Harry",
                    "title": "De procedure"
                },
                {
                    "author": " ",
                    "title": "100% swing"
                },
                {
                    "author": " ",
                    "title": "100% smooth jazz"
                },
                {
                    "author": "Schubert Franz",
                    "title": "Sonate op. 78"
                },
                {
                    "author": "Reinhardt Django",
                    "title": "Postwar recordings 1944-1953"
                },
                {
                    "author": "Carter Elliott",
                    "title": "Figments and fragments"
                },
                {
                    "author": "Albinoni Tomaso",
                    "title": "Concerti con oboe"
                },
                {
                    "author": "Matz Luc",
                    "title": "Bloedlink"
                },
                {
                    "author": "Van Loon Paul",
                    "title": "Paniek in de Leeuwenkuil"
                },
                {
                    "author": "Seffer Yochk",
                    "title": "Neffesh music"
                },
                {
                    "author": "Mingus Charles",
                    "title": "East coasting"
                },
                {
                    "author": "Letterie Martine",
                    "title": "De wolf en de zeven geitjes"
                },
                {
                    "author": "Matz Luc",
                    "title": "Met de dood in het hart"
                },
                {
                    "author": " ",
                    "title": "The best of 70 years Blue Note"
                },
                {
                    "author": "Koning Paula",
                    "title": "Erasmus op de markt"
                },
                {
                    "author": "Van Hooste Ann",
                    "title": "Kinderen met Down"
                },
                {
                    "author": "Schoenaker Theo",
                    "title": "Succes op school"
                },
                {
                    "author": "Meeuse Piet",
                    "title": "Wind!"
                },
                {
                    "author": "Brenters Marlies",
                    "title": "Mannen in soorten en maten"
                },
                {
                    "author": "Hermans Margriet",
                    "title": "Vele levens"
                },
                {
                    "author": "Bach Johann Sebastian",
                    "title": "Cantatas"
                },
                {
                    "author": "Hore Rachel",
                    "title": "Zomers licht"
                },
                {
                    "author": "Glass Philip",
                    "title": "In the upper room"
                },
                {
                    "author": " ",
                    "title": "Kwartaalschrift economie"
                },
                {
                    "author": " ",
                    "title": "Tijdschrift voor marketing"
                },
                {
                    "author": "Haydn Joseph",
                    "title": "The seven last words of Christ on the cross"
                },
                {
                    "author": " ",
                    "title": "Marketing international"
                },
                {
                    "author": " ",
                    "title": "Porselein"
                },
                {
                    "author": " economie ",
                    "title": "Forward"
                },
                {
                    "author": " ",
                    "title": "De nieuwe fiets"
                },
                {
                    "author": " ",
                    "title": "The history of jazz"
                },
                {
                    "author": " ",
                    "title": "Economisch en sociaal tijdschrift"
                },
                {
                    "author": "Bach Johann Sebastian",
                    "title": "Brandenburg concertos"
                },
                {
                    "author": "van Veldhuizen Piet",
                    "title": "Polen"
                },
                {
                    "author": "Ryelandt ",
                    "title": "Russische roulette"
                },
                {
                    "author": "Darke Diana",
                    "title": "North Cyprus"
                },
                {
                    "author": "Mosterd Lucie",
                    "title": "Ik stond laatst voor een poppenkraam"
                },
                {
                    "author": "Mosterd Maria",
                    "title": "Bindi"
                },
                {
                    "author": " ",
                    "title": "KMOPME business magazine"
                },
                {
                    "author": " ",
                    "title": "Een mens van goede wil"
                },
                {
                    "author": " ",
                    "title": "DVO"
                },
                {
                    "author": "Van Drie Diane",
                    "title": "Lang niet gek"
                },
                {
                    "author": " economische politiek ",
                    "title": "SERV-bericht"
                },
                {
                    "author": " ",
                    "title": "The boat that rocked"
                },
                {
                    "author": "Terzis Michalis",
                    "title": "Best Greek songs"
                },
                {
                    "author": "Mendelssohn-Bartholdy Felix",
                    "title": "Les 6 sonates pour orgue"
                },
                {
                    "author": "Mulisch Harry",
                    "title": "De verhalen 1947-1977"
                },
                {
                    "author": "Capossela Vinicio",
                    "title": "Da solo"
                },
                {
                    "author": "Hardy Françoise",
                    "title": "The Vogue years"
                },
                {
                    "author": "Rowthorn Chris",
                    "title": "Borneo"
                },
                {
                    "author": "Bashung Alain",
                    "title": "Fantaisie militaire"
                },
                {
                    "author": "Simone Nina",
                    "title": "Silk and soul"
                },
                {
                    "author": "Mozart Wolfgang Amadeus",
                    "title": "Violin concertos"
                },
                {
                    "author": "Simone Nina",
                    "title": "Nina Simone sings the blues"
                },
                {
                    "author": " ",
                    "title": "Using a library"
                },
                {
                    "author": "Corbeyran Eric",
                    "title": "Een kwestie van erfelijkheid"
                },
                {
                    "author": "London Music Works ",
                    "title": "Cult cuts"
                },
                {
                    "author": "Ingemarsson Kajsa",
                    "title": "De Russische vriend"
                },
                {
                    "author": "Piazzolla Astor",
                    "title": "Essential tango"
                },
                {
                    "author": "Horácek Petr",
                    "title": "Olifant"
                },
                {
                    "author": "Fallon Jane",
                    "title": "Krijg je wel"
                },
                {
                    "author": "Giacchino Michael",
                    "title": "Lost season 4"
                },
                {
                    "author": "Chilcott Susan",
                    "title": "Susan Chilcott in Brussels"
                },
                {
                    "author": " ",
                    "title": "Hits with strings and things"
                },
                {
                    "author": " ",
                    "title": "Dagen zonder Abby"
                },
                {
                    "author": " ",
                    "title": "De verre kolonie"
                },
                {
                    "author": "Last James",
                    "title": "Top 100"
                },
                {
                    "author": " ",
                    "title": "Song of songs"
                },
                {
                    "author": "Iglesias Julio",
                    "title": "Tango"
                },
                {
                    "author": "Pellegrino Nicky",
                    "title": "Bella Italia"
                },
                {
                    "author": "Scottoline Lisa",
                    "title": "In het nauw"
                },
                {
                    "author": "Summerscale Kate",
                    "title": "De vermoedens van Mr Whicher, of De moord in Road Hill House"
                },
                {
                    "author": "MacPherson Charlotte",
                    "title": "Cultuur bewust! Turkije"
                },
                {
                    "author": " ",
                    "title": "Alle levenden"
                },
                {
                    "author": "Wildsmith Brian",
                    "title": "Fantastische fabels"
                },
                {
                    "author": " ",
                    "title": "Sampol"
                },
                {
                    "author": "John Elton",
                    "title": "The lion king"
                },
                {
                    "author": " ",
                    "title": "De gids op maatschappelijk gebied"
                },
                {
                    "author": "Bach Johann Sebastian",
                    "title": "Goldberg variations"
                },
                {
                    "author": " 5,02E+12",
                    "title": "This is my life "
                },
                {
                    "author": "Sokal ",
                    "title": "De roes van het bloed"
                },
                {
                    "author": "Van Rompaey Stefan",
                    "title": "Retail Update newsletter"
                },
                {
                    "author": " ",
                    "title": "De geschiedenis van de Duitse Wehrmacht"
                },
                {
                    "author": "Warmels Helga",
                    "title": "Waterspiegel"
                },
                {
                    "author": "March Linda",
                    "title": "Cultuur bewust! Noorwegen"
                },
                {
                    "author": " 28947632252",
                    "title": "Romancendres"
                },
                {
                    "author": "Rhodes Andy",
                    "title": "Texas"
                },
                {
                    "author": "Schumann Robert",
                    "title": "Melancholie"
                },
                {
                    "author": "Ten Bosch Ad",
                    "title": "In Florence"
                },
                {
                    "author": "Liszt Franz",
                    "title": "Piano concertos no.1"
                },
                {
                    "author": "Mann Thomas",
                    "title": "De dood in Venetië en andere verhalen"
                },
                {
                    "author": " ",
                    "title": "De avonturen van Alice in Wonderland "
                },
                {
                    "author": "Händel Georg Friedrich",
                    "title": "Organ concertos, op. 4"
                },
                {
                    "author": "Brontë Emily",
                    "title": "Woeste hoogten"
                },
                {
                    "author": "Groenhart Kristine",
                    "title": "Leer mij je liefhebben"
                },
                {
                    "author": "Mozart Leopold",
                    "title": "Symphonies"
                },
                {
                    "author": "Van den Eynden Sabine",
                    "title": "Deadline"
                },
                {
                    "author": "Wong Kar-wai",
                    "title": "In the mood for love"
                },
                {
                    "author": "Doctorow Cory",
                    "title": "Little brother"
                },
                {
                    "author": " 8,72E+12",
                    "title": "The proposition"
                },
                {
                    "author": " 8,72E+12",
                    "title": "Les choristes"
                },
                {
                    "author": " ",
                    "title": "Het gezelschap van leugenaars"
                },
                {
                    "author": " Visconti",
                    "title": "Il gattopardo"
                },
                {
                    "author": "Coltrane Ravi",
                    "title": "Blending times"
                },
                {
                    "author": "Le Guin Ursula",
                    "title": "De wilde gave"
                },
                {
                    "author": " ",
                    "title": "Sounds of New Orleans"
                },
                {
                    "author": " ",
                    "title": "Sounds of New Orleans"
                },
                {
                    "author": "Harrell Tom",
                    "title": "Prana dance"
                },
                {
                    "author": "Wheeler Tony",
                    "title": "The best of Lonely Planet"
                },
                {
                    "author": "Johnson Marc",
                    "title": "Bass desires"
                },
                {
                    "author": "Cole Herman",
                    "title": "100 x Noord-Italië"
                },
                {
                    "author": "Thielemans Toots",
                    "title": "The amazing sound of "
                },
                {
                    "author": "Van Vliet Cathelijne",
                    "title": "100 x Provence, Côte d"
                },
                {
                    "author": "Washington Dinah",
                    "title": "La reine 1943-1957"
                },
                {
                    "author": "Scofield John",
                    "title": "The best of John Scofield"
                },
                {
                    "author": "Scofield John",
                    "title": "Piety street"
                },
                {
                    "author": "Östlundh Håkan",
                    "title": "Terreur"
                },
                {
                    "author": "Lacy Steve",
                    "title": "Five facings"
                },
                {
                    "author": "Fitzgerald Ella",
                    "title": "Legendary radio broadcasts"
                },
                {
                    "author": " ",
                    "title": "We hebben zijn ster in het oosten gezien"
                },
                {
                    "author": "Van Aalst Pieter",
                    "title": "Vrijdagmarkt "
                },
                {
                    "author": "Takase Aki",
                    "title": "Iron wedding"
                },
                {
                    "author": "Marsalis Wynton",
                    "title": "He and she"
                },
                {
                    "author": "Marsalis Branford",
                    "title": "Metamorphosen"
                },
                {
                    "author": "Jarrett Keith",
                    "title": "At the Deer Head Inn"
                },
                {
                    "author": "Corea Chick",
                    "title": "The anthology"
                },
                {
                    "author": "Clarke Isabelle",
                    "title": "In love with Adolf Hitler"
                },
                {
                    "author": "Silver Horace",
                    "title": "Further explorations by the Horace Silver Quintet"
                },
                {
                    "author": "Vivaldi Antonio",
                    "title": "Vespro per la Vergine"
                },
                {
                    "author": "Schama Simon",
                    "title": "De Amerikaanse toekomst"
                },
                {
                    "author": "Liebman Dave",
                    "title": "Liebman meets Intra"
                },
                {
                    "author": "Jamal Ahmad",
                    "title": "In search of"
                },
                {
                    "author": "Namchylak Sainkho",
                    "title": "Portrait of an idealist"
                },
                {
                    "author": "Corea Chick",
                    "title": "Duet"
                },
                {
                    "author": "Nin Anaïs",
                    "title": "Venusdelta"
                },
                {
                    "author": "Sclavis Louis",
                    "title": "Lost on the way"
                },
                {
                    "author": "Corea Chick",
                    "title": "Five Peace Band live"
                },
                {
                    "author": " ",
                    "title": "Sounds of New Orleans"
                },
                {
                    "author": "Turner Mark",
                    "title": "Sky "
                },
                {
                    "author": "Schubert Franz",
                    "title": "Winterreise"
                },
                {
                    "author": "Wright Frank",
                    "title": "Unity"
                },
                {
                    "author": " ",
                    "title": "Man of Aran"
                },
                {
                    "author": "Watson Patrick",
                    "title": "Wooden arms"
                },
                {
                    "author": "Brahms Johannes",
                    "title": "Violin concerto"
                },
                {
                    "author": " ",
                    "title": "The eternal"
                },
                {
                    "author": "Krabbé Tim",
                    "title": "De paardentekenaar"
                },
                {
                    "author": "Krabbé Tim",
                    "title": "Vertraging"
                },
                {
                    "author": " ",
                    "title": "Transylvania"
                },
                {
                    "author": " ",
                    "title": "So entstand das Alte Testament"
                },
                {
                    "author": "Corbiau Gérard",
                    "title": "Farinelli, il castrato"
                },
                {
                    "author": "Harel Philippe",
                    "title": "Le vélo de Ghislain Lambert"
                },
                {
                    "author": "Bezucha Thomas",
                    "title": "The family Stone"
                },
                {
                    "author": "Auster Paul",
                    "title": "De New York-trilogie"
                },
                {
                    "author": "Almodóvar Pedro",
                    "title": "Live flesh"
                },
                {
                    "author": " ",
                    "title": "So entstand das Neue Testament"
                },
                {
                    "author": " 8,72E+12",
                    "title": "Jean de Florette"
                },
                {
                    "author": "Almodóvar Pedro",
                    "title": "Atame!"
                },
                {
                    "author": "Meyers Nancy",
                    "title": "Something"
                },
                {
                    "author": "Sheridan Jim",
                    "title": "My left foot"
                },
                {
                    "author": "Tati Jacques",
                    "title": "Mon oncle"
                },
                {
                    "author": " 8,72E+12",
                    "title": "A room with a view"
                },
                {
                    "author": "Allen Woody",
                    "title": "Hannah and her sisters"
                },
                {
                    "author": "Allen Woody",
                    "title": "Radio days"
                },
                {
                    "author": "Allen Woody",
                    "title": "Broadway Danny Rose"
                },
                {
                    "author": "Krabbé Jeroen",
                    "title": "De ontdekking van de hemel"
                },
                {
                    "author": "Kim Ki-Duk",
                    "title": "Spring, summer, fall, winter... and spring"
                },
                {
                    "author": "Kurosawa Akira",
                    "title": "Rashomon"
                },
                {
                    "author": "Reiner Rob",
                    "title": "When Harry met Sally"
                },
                {
                    "author": "Petrie Donald",
                    "title": "Mystic pizza"
                },
                {
                    "author": "Koreeda Hirokazu",
                    "title": "Nobody knows"
                },
                {
                    "author": "Ozu Yasujiro",
                    "title": "Tokyo story"
                },
                {
                    "author": "Kayzer Wim",
                    "title": "Een schitterend ongeluk"
                },
                {
                    "author": "Steiner Rudolf",
                    "title": "Grondslagen voor een verruiming van de geneeskunde volgens geesteswetenschappelijke inzichten"
                },
                {
                    "author": "Van Enk P.L.",
                    "title": "Frankrijk en de hugenoten"
                },
                {
                    "author": "Hawton Nick",
                    "title": "De jacht op Karadzic"
                },
                {
                    "author": "Allegaert Patrick",
                    "title": "De exotische mens"
                },
                {
                    "author": "Leroy Jan",
                    "title": "Gemeentefinanciën voor niet-specialisten"
                },
                {
                    "author": "De Brabander Ludo",
                    "title": "Als de NAVO de passie preekt"
                },
                {
                    "author": "Collins Roger",
                    "title": "Sleutelbewaarders"
                },
                {
                    "author": " 8,71E+12",
                    "title": "La vita è bella"
                },
                {
                    "author": "Lambrecht Jef",
                    "title": "De heilige wereldoorlog"
                },
                {
                    "author": "Cassavetes Nick",
                    "title": "The notebook"
                },
                {
                    "author": "Duerinck Miki",
                    "title": "Vegetarisch koken in 30 minuten"
                },
                {
                    "author": "Kynge James",
                    "title": "China zet de wereld op z"
                },
                {
                    "author": " 8,72E+12",
                    "title": "Ae fond kiss"
                },
                {
                    "author": "Bier Susanne",
                    "title": "After the wedding"
                },
                {
                    "author": "Bergman Gregory",
                    "title": "Filosofie voor in bed, op het toilet of in bad"
                },
                {
                    "author": "Artz Alexander",
                    "title": "Fietsen en wandelen langs oude spoorwegen in Nederland"
                },
                {
                    "author": "Verstegen Ton",
                    "title": "Een traditie van verandering"
                },
                {
                    "author": "Shardlow Martin",
                    "title": "Blackadder 1"
                },
                {
                    "author": "Fletcher Mandie",
                    "title": "Blackadder 3"
                },
                {
                    "author": "Simpson Bennett",
                    "title": "Dan Graham"
                },
                {
                    "author": "Browne Janet",
                    "title": "Over het ontstaan van soorten van Darwin"
                },
                {
                    "author": "Kiris Mehmet",
                    "title": "Türkçe-Hollandaca"
                },
                {
                    "author": "Tiemersma Douwe",
                    "title": "Non-dualiteit"
                }
            ];
            var table = $.makeTable(mydata);
            $(table).appendTo("#TableCont");
        });
    </script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Books4Summer</a>

    </div>
    <!-- /.container -->
</div>
<!-- /.navbar -->

<div class="jumbotron text-center">

    <div class="row">
        <div id="filter-panel" class="filter-panel">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-inline" role="form">
                        <!-- form group [Category 1] -->
                        <div class="form-group">
                            <label class="filter-col" style="margin-right:0;" for="pref-perpage">Category 1:</label>
                            <select id="categoryFilter1" class="form-control">
                                <option value="fiction">Fiction</option>
                                <option value="history">History</option>
                                <option value="humor">Humor</option>
                                <option value="travel">Travel</option>
                            </select>
                        </div>
                        <!-- form group [Category 2] -->
                        <div class="form-group" style="margin-left: 20px;">
                            <label class="filter-col" style="margin-right:0;" for="pref-perpage">Category 2:</label>
                            <select id="categoryFilter1" class="form-control">
                                <option value="fiction">Fiction</option>
                                <option value="history">History</option>
                                <option value="humor">Humor</option>
                                <option value="travel">Travel</option>
                            </select>
                        </div>
                        <!-- form group [Category 3] -->
                        <div class="form-group" style="margin-left: 20px;">
                            <label class="filter-col" style="margin-right:0;" for="pref-perpage">Category 3:</label>
                            <select id="categoryFilter1" class="form-control">
                                <option value="fiction">Fiction</option>
                                <option value="history">History</option>
                                <option value="humor">Humor</option>
                                <option value="travel">Travel</option>
                            </select>
                        </div>
                        <!-- form group [Filter button] -->
                        <div class="form-group" style="margin-left: 20px;">
                            <button type="submit" class="btn btn-default filter-col">
                                <span class="glyphicon glyphicon-filter"></span> Filter
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">


    <div class="row">
        <div class="col-md-6">
            <div class="well">

                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="{% static "img/Gods_dwazen.jpg" %}" alt="" class="img-rounded img-responsive"/>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>Gods dwazen</h4>
                        <p>Ballinger W.A.</p>

                        <p>
                            Fiction<br>
                            History
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">

                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="{% static "img/220px-CheaperByTheDozen.jpg" %}" alt="" class="img-rounded img-responsive"/>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>Cheaper by the Dozen</h4>
                        <p>Frank B. Gilbreth</p>

                        <p>
                            Art<br>
                            Music
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="well">

                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="{% static "img/9781433204074_p0_v1_s260x420.jpg" %}" alt="" class="img-rounded img-responsive"/>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>The Good Earth</h4>
                        <p>Pearl S. Buck</p>

                        <p>
                            Sport<br>
                            Travel
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">

                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="{% static "img/Benjamin Franklin An American Life.jpg" %}" alt="" class="img-rounded img-responsive"/>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>Benjamin Franklin: An American Life</h4>
                        <p>Walter Isaacson</p>

                        <p>
                            Religion<br>
                            Politics<br>
                            Drama
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<hr>
</body>
</html>