<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static "img/favicon.png" %}">

    <title>Books4Summer</title>

    <!--jquery -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-theme.css" %}" rel="stylesheet">

    <!-- siimple style -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href={% url 'index' %}>Books4Summer</a>

    </div>
    <!-- /.container -->
</div>
<!-- /.navbar -->

<div class="jumbotron text-center">

    <div class="row">
        <div id="filter-panel" class="filter-panel">
            <div class="panel panel-default">
            </div>
        </div>
    </div>
</div>

<div class="container">

    {% for item in items %}
        <div class="col-md-6">
            <div class="well">

                <div class="row">
                    <div class="col-sm-6 col-md-4">
                    {% if item.item_copy__item__isbn %}
                        <img src="http://webservices.bibliotheek.be/index.php?func=cover&ISBN={{ item.item_copy__item__isbn }}&coversize=medium" data-isbn="{{ item.item_copy__item__isbn }}" alt="" class="img-rounded img-responsive"/>
                    {% else %}
                        <img src="{% static "img/Unknown-Book.jpg" %}" data-isbn="{{ item.item_copy__item__isbn }}" alt="" class="img-rounded img-responsive"/>
                    {% endif %}
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>{{ item.item_copy__item__title }}</h4>
                        <p> <b>isbn</b>: {{ item.item_copy__item__isbn }}<br>
                        <b>Auteur</b>: {{ item.item_copy__item__author_firstname }} {{ item.item_copy__item__author_lastname }}</p>
                        <p>{{ item.count }} keer geleend</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

</div>
<hr>
</body>
</html>
